

<p style="text-align: left">You must be logged in to view the content!<br> Please log in or create account.</p>

<a asp-action="Index" asp-controller="Home">
    Click here to back to main page.
</a>
