<style>
    div {
        height: 40px;
        background: linear-gradient(to bottom right, #b3e2fc 0%, #ffffff 65%)
    }
</style>
    

    @{
        ViewData["Title"] = "Home Page";
    }

<div class="text-center">
    <h1 class="display-4">Employee Data Base</h1>

    <br>
    <br><br>

    <p style="text-align: right">Please register or login to access <br> Employee Data Base</p>

    <img src="~/Images/connectionDataBase.jpg">

</div>
